<h1>Songs List</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
            <% if current_user %>
                <th>Owned?</th>
                <th>Change Status</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <%= page_entries_info @songs %>
        <%= paginate @songs %>
        <% @songs.each do |song| %>
            <tr>
                <td><%= link_to song.full_title, song %></td>
                <td><%= link_to song.artist.full_name, song.artist %></td>
                <td><%= link_to song.genre.name, song.genre %></td>
                <% if current_user %>
                    <% if !current_user.user_songs.where(song_id: song.id).exists? %>
                        <td><%= form_with model: @user_song, method: :post, url: add_song_path do |f|%>
                              
                                <%= f.hidden_field :user_id %>
                                <%= f.hidden_field :song_id, :value => song.id %>
                                <%= f.submit "Add song to collection" %></td>
                            <% end %>
                    <% else %>
                        <td>Song in collection</td>
                        <td><%= form_with model: @user_song, method: :delete, url: remove_song_path do |f| %>
                                <%= f.hidden_field :user_id %>
                                <%= f.hidden_field :song_id, :value => song.id %>
                                <%= f.submit "Remove song from collection", data: { confirm: 'Are you sure?' }  %></td>
                            <% end %>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
