<h1>Songs List</h1>
<table>
    <thead>
        <tr>
            <th><%= link_to "Title", :sort => "name" %></th>
            <th><%= link_to "Artist", :sort => "artist" %></th>
            <th><%= link_to "Genre", :sort => "genre" %></th>
            <% if current_user %>
                <th>Owned?</th>
                <th>Change Status</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <%= page_entries_info @songs %>
        <%= paginate @songs %> 
        <div class="sort-options"> 
            <%= link_to "Show only owned songs", :controller => "songs", :action => "index", :view => "owned" %> |
            <%= link_to "Show only unowned songs", :controller => "songs", :action => "index", :view => "unowned" %>
        </div>
        <% @songs.each do |song| %>
            <tr>
                <td><%= link_to song.full_title, artist_song_path(song.artist, song) %></td>
                <td><%= link_to song.artist.full_name, artist_path(song.artist) %></td>
                <td><%= link_to song.genre.name, song.genre %></td>
                <% if current_user %>
                    <% if !current_user.user_songs.where(song_id: song.id).exists? %>
                        <td style="text-align:center;">Yes</td>
                        <td><%= form_with model: @user_song, method: :post, url: add_song_path do |f|%>
                              
                                <%= f.hidden_field :user_id %>
                                <%= f.hidden_field :song_id, :value => song.id %>
                                <%= f.submit "Add song to collection" %></td>
                            <% end %>
                    <% else %>
                        <td style="text-align:center;">No</td>
                        <td><%= form_with model: @user_song, method: :delete, url: remove_song_path do |f| %>
                                <%= f.hidden_field :user_id %>
                                <%= f.hidden_field :song_id, :value => song.id %>
                                <%= f.submit "Remove song from collection", data: { confirm: 'Are you sure?' }  %></td>
                            <% end %>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
<%= paginate @songs, window: 4 %>
<% if current_user %>
    <p>Quick Add an Entire Game's Setlist!</p>
    <p><%= render_game_button("Rock Band 1", 1) unless game_already_in_collection?(1) %></p>
    <p><%= render_game_button("Rock Band 2", 2) unless game_already_in_collection?(2) %></p>
    <p><%= render_game_button("Rock Band 3", 3) unless game_already_in_collection?(3) %></p>
    <p><%= render_game_button("Rock Band 4", 4) unless game_already_in_collection?(4) %></p>
    <p><%= render_game_button("LEGO: Rock Band", 51) unless game_already_in_collection?(51) %></p>
    <p><%= render_game_button("Green Day: Rock Band", 52) unless game_already_in_collection?(52) %></p>
    <p><%= render_game_button("Rock Band Blitz", 53) unless game_already_in_collection?(53) %></p>
<% end %>