<h1>Songs List</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
            <% if current_user %>
                <th>Owned?</th>
                <th>Change Status</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @songs.each do |song| %>
            <tr>
                <td><%= link_to song.full_title, song %></td>
                <td><%= link_to song.artist.full_name, song.artist %></td>
                <td><%= link_to song.genre, song.genre.name %></td>
                <% if current_user %>
                    <% if !@user_songs.where(song_id: song.id).exists? %>
                        <td><%= form_with model: @user_song, method: :post do |f|%></td>
                                <%= f.hidden_field :user.id %>
                                <%= f.hidden_field :song.id %>
                                <%= f.submit "Add song to collection" %>
                            <% end %>
                    <% else %>
                        <td>Song in collection</td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
