<h1><%= @song.full_title %></h1> <br>
<p>Artist: <%= link_to @song.artist.full_name, artist_path(@song.artist) %></p>
<p>Genre: <%= link_to @song.genre.name, genre_path(@song.genre) %></p>
<p>Year Released: <%= @song.year %></p>
<p>Song Length: <%= @song.length_in_minutes %></p>
<p>Harmonies?: <%= @song.harmony_parts? %></p>
<%= link_to "Edit Artist", edit_song_path(@song) %>

<% if current_user %>
    <% if current_user.user_songs.where(song_id: @song.id).exists? %>
        <p>You currently own this song</p>
    <% else %>
        <p>You do not currently own this song</p>
    <% end %>
<% else %>
    <p>Sign Up or Log In to track your songs!</p>
<% end %>