<h1><%= @song.full_title %></h1> <br>
<h2>by: <%= @song.is_song_cover? %> <%= link_to @song.artist.full_name, artist_path(@song.artist) %></h2>
<p>Average User Rating: 
    <% if @user_song %>
        <%= @user_song.average_rating %> based on <%= @user_song.count_ratings %> ratings. </p><br>
    <% else %>
        There are no ratings for this song yet.<br>
    <% end %>
    <% if current_user.songs.exists?(@song.id)%>        
        <%= render partial: 'rate' %>
    <% else %>
        You can rate this song if you are signed in and you own it.
    <% end %></p>
<p>Genre: <%= link_to @song.genre.name, genre_path(@song.genre) %></p>
<p>Year Released: <%= @song.year %></p>
<p>Song Length: <%= @song.duration ? @song.length_in_minutes : "Not Provided" %></p>
<p>Harmonies?: <%= @song.harmony_parts? %></p>
<p>Source: <%= @song.primary_source %></p>
<%= render partial: 'player', locals: {song: @song} %> <br>

<% if current_user %>
    <% if current_user.songs.exists?(@song.id) %>
        <p>You currently own this song</p>
    <% else %>
        <p>You do not currently own this song</p>
    <% end %>
<% else %>
    <p>Sign Up or Log In to track your songs!</p>
<% end %>

<%= edit_button_for_admin %>