<!DOCTYPE HTML>

<html>
	<head>
		<title>Rock Band Night</title>
		<%= csrf_meta_tags %>
    	<%= csp_meta_tag %>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script src="https://unpkg.com/htmx.org@1.4.1"></script>
		<script src="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="crossorigin="anonymous"></script>

	</head>
	<body class="homepage is-preload">
		<script>
			function dropMenu() {
  				document.getElementById("myDropdown").classList.toggle("show");
			}
			window.onclick = function(event) {
  				if (!event.target.matches('.dropbtn')) {
    				var dropdowns = document.getElementsByClassName("dropdown-content");
    				var i;
    				for (i = 0; i < dropdowns.length; i++) {
	      				var openDropdown = dropdowns[i];
      					if (openDropdown.classList.contains('show')) {
        					openDropdown.classList.remove('show');
      					}		
    				}
  				}
			}
		</script>
		<div id="page-wrapper">
			<div id="header-wrapper">
				<div id="header" class="container">
					<h1 id="logo"><%= link_to "Rock Band Night", root_path %></h1>
					<nav id="nav">
						<ul>
							<li>
								<div class="dropdown">
									<button 
										class="dropbtn"
										type="button"
										aria-expanded="false"
										onclick="dropMenu()"
										>
										Main Menu
									</button>
									<div id="myDropdown" class="dropdown-content">
									    <% if !current_user %>
											<%= link_to "Sign Up", new_user_path %>
    	    								<%= link_to "Sign In", signin_path %>
										<% else %>
        									<%= link_to "My Profile", user_path(current_user.username) %>
											<% if current_user == User.find(1) %>
												<%= link_to "New Song", new_song_path %>
											<% end %>
        									<%= link_to "Log Out", logout_path, method: :delete %>
										<% end %>
									</div>
								</div>
							</li>
							<li><%= link_to "Songs", songs_path %></li>
							<li class="break"><%= link_to "Artists", artists_path %></li>
							<% if current_user %>
								<li><%= link_to "Party Mode", toggle_party_path(current_user.username) %></li>
							<% else %>
								<li>Party Mode Not Available</li>
							<% end %>
							<%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-left') do %>  
  								<div class="input-group" style="display:einline;">  
    								<%= search_field_tag :search, params[:search], placeholder: "Search Songs", class: "form-control" %>  
    								<input type='submit' name='Search'>
								</div>  
							<% end %>
						</ul>
					</nav>
				</div>
				<div class="wrapper">
          			<% flash.each do |type, msg| %>
  						<div>
    						<%= msg %>
  						</div>
					<% end %>
					<% if current_page?(root_path) %>
					<section id="hero" class="container">
						<header>
							<h2>Welcome to Rock Band Night
							<br />
							For Smoother Rocking Sessions!</h2>
						</header>
						<a href="/signin" class="button">Get this party started!</a>
					</section>
					<% end %>
					<%= yield %>
				</div>
				<div id="footer-wrapper">
					<div id="footer" class="container">
						<header class="major">
							<h2>Last Updated:</h2>
							<p>Initial</p>
						</header>
					</div>
				<div id="copyright" class="container">
					<ul class="menu">
						<li><small><strong>This site is neither operated nor sponsored by Harmonix Music Systems, Inc. Rock Band and all related titles and logos are trademarks of Harmonix Music Systems, Inc. All rights reserved.</strong><br></li>
        				<li><small><strong>ALL OTHER LOGOS, COMPANY NAMES, BRANDS, IMAGES, TRADEMARKS AND OTHER INTELLECTUAL PROPERTY ARE THE PROPERTY OF THEIR RESPECTIVE OWNERS.</strong></a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>